$variables: (
  layout-width: (
    xs: 380px,
    sm: 576px,
    2sm: 720px,
    md: 768px,
    lg: 1024px,
    xl: 1260px,
    2xl: 1440px,
    3xl: 1600px
  ),
  break-point: (
    xs: 380px,
    sm: 576px,
    2sm: 720px,
    md: 768px,
    lg: 1024px,
    xl: 1260px,
    2xl: 1440px,
    3xl: 1600px
  ),
  color: (
    black-100: '0, 0, 0',
    blue-100: '9, 18, 66',
    white-100: '255, 255, 255',
    gray-100: '153, 153, 153',
    yellow-100: '253, 175, 59',
    violet-100: '245, 248, 250'
  ),
  font-size: (
    100: 1rem,
    120: 1.2rem,
    140: 1.4rem,
    160: 1.6rem,
    180: 1.8rem,
    190: 1.9rem,
    200: 2rem,
    220: 2.2rem,
    250: 2.5rem,
    300: 3rem,
    350: 3.5rem,
    400: 4rem,
    467: 4.67rem,
    500: 5rem,
    600: 6rem,
    850: 8.5rem,
    3500: 35rem
  ),
  font-weight: (
    400: 400,
    700: 700
  ),
  font-family: (
    Lato-Regular: 'Lato-Regular, sans-serif',
    Lato-Bold: 'Lato-Bold, sans-serif'
  ),
  line-height: (
    100: 100%,
    135: 135.023%,
    151: 151.523%
  ),
  letter-spacing: (
    
  ),
  opacity: (
    100: 0.1,
    200: 0.2,
    300: 0.3,
    400: 0.3,
    500: 0.5,
    600: 0.6,
    700: 0.7,
    800: 0.8,
    900: 0.9,
    1000: 1
  ),
  border-radius: (
    20: 2px,
    30: 3px,
    40: 4px,
    50: 5px,
    60: 6px,
    70: 7px,
    80: 8px,
    90: 9px,
    100: 10px,
    150: 15px,
    200: 20px,
    250: 25px,
    300: 30px,
    400: 40px,
    50p: 50%
  ),
  ease: (
    100: linear,
    200: ease-in,
    300: ease-out,
    400: ease-in-out,
    500: cubic-bezier(0.4, 0, 0.2, 1)
  ),
  duration: (
    160: 0.16s,
    200: 0.2s,
    500: 0.5s,
    700: 0.7s
  ),
  global: (
    font-size-reduce: 62.5%,
    min-width: 200px,
    unit: rem
  )
);
