// /* stylelint-disable no-empty-source */
@use "sass:map";
@use "sass:math";
@use "../../node_modules/reset-css/sass/reset" as *;
@use "./abstracts" as *;
@use "./base" as *;

body {
  font-family: var(--font-family--Poppins-Light);
  font-weight: var(--font-weight--400);
  background-color: var(--color--white-100);
}

.wrap {
  @include mx(auto);
  max-width: var(--layout-width--2xl);
}
