@use "sass:map";
@use "sass:string";
@use "sass:meta";
@use "sass:list";

@use "../../styles-common/variables" as *;
@use "../../styles/abstracts/functions" as *;
@use "../../styles/abstracts/variables-alias" as *;

:root {
  --font-family-root: Krub, sans-serif;
  --font-family-headline: Rubik, sans-serif;

  @each $item, $val in $variables {
    @each $sub-item, $sub-val in $val {
      --#{$item}--#{$sub-item}: #{$sub-val};
    }

    @if $item == "color" {
      @each $sub-item, $sub-val in $val {
        --#{$item}--#{$sub-item}--clean: #{str-replace(
            str-replace(str-replace(#{$sub-val}, "rgb", ""), ")", ""),
            "(",
            ""
          )};
      }
    }
  }

  font-family: var(--font-family-root);
  font-size: var(--global--font-size-reduce);
}
